.main-app {
    display: flex;
    flex-direction: column;
    gap: var(--lg-gap);    
    background-color: var(--main-bg-color);
    padding: var(--lg-padding);
}

.main-header {
    margin-bottom: var(--lg-margin);
}

.resume-builder {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--lg-margin);
    gap: var(--lg-gap);
    width: 100%;
    height: fit-content;
}

.resume-preview {
    display: flex;
    justify-content: center;
}

@media (min-width: 1024px) {
    .main-app {
        flex-direction: row;
        justify-content: center;
    }

    .resume-builder {
        flex: 1;
        max-width: 600px;
    }
}