/* EDUCATION SECTION STYLINGS */

.education-section {
    background-color: var(--card-bg-color);
    border: 1px solid var(--border-color);
    border-radius: var(--lg-border-radius);
    padding: var(--lg-padding);
}

.education-section h1 {
    font-size: 1.5rem;
}