@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --main-bg-color: #f3f3f9;
  --border-color: #e5e5e5;
  --card-bg-color: #ffffff;

  --add-btn-color: #00598a;
  --add-btn-hover-color: #024a70;
  --remove-btn-color: #fb2c36;
  --remove-btn-hover-color: #e7000b;

  --sm-gap: 0.25rem;
  --md-gap: 0.5rem;
  --lg-gap: 1rem;

  --sm-margin: 0.25rem;
  --md-margin: 0.5rem;
  --lg-margin: 1rem;

  --sm-padding: 0.25rem;
  --md-padding: 0.5rem;
  --lg-padding: 1rem;
  --resume-padding: 2rem;
  --button-padding: 0.75rem;

  --sm-border-radius: 0.25rem;
  --md-border-radius: 0.5rem;
  --lg-border-radius: 1rem;
}
